---
layout: default
---

<div class="home"><div class="col-sm-2" style="width: 200px; margin-left: auto; margin-right: auto;">
<img src="assets/myphoto.jpg" alt="weifeng_img" width="200" class="profile" />
</div>

<section class="section summary-section">
    <h2 class="section-title">About Me</h2>
    <div class="summary">
        <!-- <p> I am now a tenure-track Assistant Professor and Ph.d supervisor at the School of Big Data & Software Engineering, Chongqing University, China. Prior to joining Chongqing University, I was a Postdoc at Zhejiang Univeristy advised by <a href="http://person.zju.edu.cn/en/0087125">Prof.Shanping Li</a> and <a href="https://xin-xia.github.io/">Dr. Xin Xia</a>. I got my Ph.D degree in June 2017 under the supervision of Prof. Xiaohong Zhang from Chongqing University, China.</p> -->
        <p>I am currently working toward the Ph.D. degree at Chongqing University, under the supervision of Dr. <a href="https://yanmeng.github.io/">Meng Yan</a> (Chongqing University). My research interests include software testing, software evolution, and AI for SE.</p>
        <!-- <p>My currently research focuses on how to improve developers' productivity, how to improve software quality and how to reduce the effort during software development by analyzing rich software repository data. In terms of the techniques, I am interested in adopting different data analytics techniques, including data mining, information retrieval, machine learning and program analysis.</p>

		<p>My Chinese homepage can be found at <a href="http://www.cse.cqu.edu.cn/info/2095/5040.htm">here</a>.</p> -->
    </div>
</section>

<section class="section experiences-section">
    <h2 class="section-title">Education</h2>
                
    <ul>
        <li>Ph.D Student in School of Big Data & Software Engineering, Chongqing Univeristy, 2021 - Now</li>
        <li>MA.Sc in Software Engineering, Jiangsu University, 2018 - 2021</li>
        <li>B.Eng in Software Engineering, Jiangsu University, 2014 - 2018</li></ul>

  </section><!--//section-->

